#memberLogin{
  background-color:#BDBDBD;
  height: 100px;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  border-style: outset;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

#memberJoin{
  background-color: #BDBDBD;
  height: 225px;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  border-style: outset;
  padding-top: 25px;
  padding-left: 25px;
}

h1{
  text-align: center;
}

#Jointable{
  text-align: center;
  margin: 0 auto;
}

#MemberLoginButton{
  height: 51px;
  width: 51px;
}

#memberJoinlink{
  text-align: center;
}

#MemberJoinButton{
  width:100px;
  text-align: center;
  margin: 0 auto;
}

.membersort{
  height: 30px;
}

th{
  text-align: left;
}
#sort{
  text-align: left;
}
